.input{
    font-size: 20px;
}


.carpetArea-card{
    background-color: #E3EDF6;
}

.column{
    padding-top: 30px;
    padding-left: 30px;

}

.column:active{
    background-color: lightgrey;

}

img:active{
    box-shadow: 2px 2px 2px 2px grey;
}