.input {
  font-size: 20px;
}

.carpetArea-card {
  background-color: #e3edf6;
}

.column {
  padding-top: 30px;
  padding-left: 30px;
}

.img:active {
  box-shadow: 5px 5px 5px 5px grey;
  image-resolution: 20px;
}
